<div class="card">
  <div *ngIf="isBestOffer" class="card-best-offer">
    <i class="fas fa-burn color"></i>Best Offer!
  </div>
  <div class="card-title">
    {{ cardData?.title }}
  </div>
  <div class="card-price">
    Price: {{ cardData?.price }}
  </div>
  <div class="card-points">
    <ul class="card-points-list">
      <li *ngFor="let point of cardData?.chooseList">{{ point }}</li>
    </ul>
  </div>
  <div class="card-action">
    <button class="btn btn-outline-primary" (click)="onSubmitCard()">Buy item</button>
  </div>
</div>
